@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Acrom_light;
  src: url("./fonts/Acrom-Light.woff") format("woff");
}
@font-face {
  font-family: Acrom_regular;
  src: url("./fonts/Acrom-Regular.woff") format("woff")
}

.bg_main{
  background: url('/public/main.jpg') 0 no-repeat;
  background-size: contain;
}